FORMAT: 1A
HOST: https://private-cb421-baeml.apiary-mock.com/

# baeML

API allowing users to retrieve articles from the database and indicate their preferences.

## Login [/api]
To retrieve personalized feed
### Login User [GET /api/login/?={user_id}]

+ Response 200 (application/json)

    + Body
            {
                "name": "Eric Feng",
                "propic": "https://scontent.xx.fbcdn.net/v/t1.0-9/16105780_1519742721384372_2956350876286001393_n.jpg?oh=5a9e6f608fe4d5533c53c889719e4ae9&oe=5A0E799A"
            }
        
+ Response 400
    
    + Body
            {
                "message": "could not retrieve article"
            }

+ Response 404

### Login Status [GET /api/status/?={user_id}]

+ Response 200 
    + Body
            {
            }

+ Response 204 //not ready yet

### First Time Login [POST /api/init]
+ Request (application/json)

        {
            "user_id": userID, //create new user in db
            "size": profile_pic_size,
            "token": accessToken
        }

+ Response 204

## Article Collection [/api/users]
### Retrieve Article [GET /api/users/next_article/?={user_id}]
+ Response 200 (application/json)

    + Body
            {
                "article_link": "article_link", 
                "article": "article_content", 
                "article_title": "article_title"
            
            }


### Rate Article [POST /api/users/rate_article/]

+ Request (application/json)

    + Body
    
            {
                "user_rating": rating,
                "user_id": user_id,
                "article_link" : "article_link"
            }

+ Response 200