FORMAT: 1A
HOST: https://private-cb421-baeml.apiary-mock.com/

# baeML

API allowing users to retrieve articles from the database and indicate their preferences.

## Login [/api]
To retrieve personalized feed
### Login User [GET /api/login/{user_ID}]
+ Parameters
    + user_ID user ID
    
+ Response 200 (application/json)

    + Body
            {
                "name": "Eric Feng",
                "propic": "https://scontent.xx.fbcdn.net/v/t1.0-9/16105780_1519742721384372_2956350876286001393_n.jpg?oh=5a9e6f608fe4d5533c53c889719e4ae9&oe=5A0E799A"
            }
        
+ Response 400
    
    + Body
            {
                "message": "could not retrieve article"
            }

+ Response 404

### Login Status [GET /api/status]
+ Request (application/json)

        {
            "user_ID": userID, //create new user in db
            "size": profile_pic_size,
            "token": accessToken
        }

+ Response 201 (application/json)
    
    + Body
            {
                "name": "Eric Feng",
                "propic": "https://scontent.xx.fbcdn.net/v/t1.0-9/16105780_1519742721384372_2956350876286001393_n.jpg?oh=5a9e6f608fe4d5533c53c889719e4ae9&oe=5A0E799A"
            }

### First Time Login [POST /api/init]
+ Request (application/json)

        {
            "user_ID": userID, //create new user in db
            "size": profile_pic_size,
            "token": accessToken
        }

+ Response 201 (application/json)
    
    + Body
            {
                "name": "Eric Feng",
                "propic": "https://scontent.xx.fbcdn.net/v/t1.0-9/16105780_1519742721384372_2956350876286001393_n.jpg?oh=5a9e6f608fe4d5533c53c889719e4ae9&oe=5A0E799A"
            }

## Article Collection [/api]
### Retrieve Article [POST /api/users/next_article/]
+ Request (application/json)

+ Response 201 

### Rate Article [POST /api/article/{user_id}/{article_id}/rate]
+ Request (application/json)

    + Headers
    
    + Body
    
            {
                "rating": rating
            }

+ Response 201 (text/plain)
    
    + Body 
            
            Ok, rating added



### Retrieve Articles List [GET /api/list]
+ Response 200 (application/json)
    + Body
    
            {
                "articles": [
                    {
                        "title": "Why is ReactJS so annoying",
                        "link": "http://link",
                        
                        ...
                    },
                    ...
                ]
            }