/**article**/
.article {
  display: block;
  border: solid;
  border-radius:25px;
  margin: 5%;
  padding-left:1%;
  padding-right:1%;
  position: relative; /**cannot be static**/
  
}
.btn {
  border: none;
  color: black;
  background: none;
}

.like{
  position: absolute;
  bottom: 20px;
  right: 60px;
  color:green;
}
.dislike{
  position: absolute;
  bottom: 20px;
  right: 30px;
  color:red;
}

.ratings-container{
  margin-right: 4%;
  margin-bottom: 4%;
}

.rating{
  border: none;
}

.rating:hover{
  transition-duration: 0.4s;
  opacity: 0.8;
}

/**sidebar**/
.sidebar {
  display: inline-block;
  
  text-align: center;
  padding-left: 3%;
}

.sidebar > div > h1 {
  font-style: normal;
  font-size: 1.8em;
  color: gray;
  line-height: 0.5em;
}

#logo {
  padding-top: 5%;
  width: 25%;
  padding-bottom: 15%;
}

#profilepic {
  width: 60%;
  margin: 1% 2%;
  margin-top: 10%; 
  margin-bottom: 10%;
  border-radius: 50%;
}

.fbButton {
  border: none;
  background-color: #4267B2;
  font: "Lucida Grande", "Tahoma";
  color: #fff;
  text-align: center;
  margin-top: 1em;
  font-size: 16px;
  border-radius: 5px;
  width: 10%;
}