.article {
  display: block;
  border: solid;
  margin: 5%;
  padding-left:1%;
  padding-right:1%;
  
}

.sidebar {
  display: inline-block;
  
  text-align: center;
  padding-left: 3%;
}

.sidebar > h1 {
  font-style: normal;
  font-size: 1.5em;
}

#logo {
  padding-top: 5%;
  width: 25%;
}

#profilepic {
  text-align: left;
  width: 25%;
}